@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#root {
    display: flex;
    justify-content: center;
}

.bar-item{
    display:inline-flex;
    margin: 33px;
}

.style{
    text-decoration: none;
    color: black;
    font-size: 22px;
    padding: 1px 30px;
    border: 2px solid #fcc300 ;
    border-radius: 50px;
    height:35px;
    width:auto;

}

.style:hover{
    background-color: #fcc300;
    color:aliceblue;
    transition:  250ms ease-out 100ms;
    transform: translateY(-3px);
}