* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#root {
    display: flex;
    justify-content: center;
}

.header-bar{
    display: flex;
    justify-content: center;
    list-style-type: none;
    -webkit-box-shadow: -2px 21px 30px -20px rgba(34, 60, 80, 0.18);
    -moz-box-shadow: -2px 21px 30px -20px rgba(34, 60, 80, 0.18);
    box-shadow: -2px 21px 30px -20px rgba(34, 60, 80, 0.18);
}

.WorldCovid{
    position: relative;
    display: flex;
    justify-content: center;
    top: 30%;
}

.world-summary-item{
    width: 600px;
}



