.loader{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px dashed #fcc300;
    animation: rotate 1.3s infinite linear;
}

@keyframes rotate {
    from{
        transform: rotate(0deg) scale(1);
    }
    to{
        transform: rotate(360deg) scale(1.3);
    }
}