.myBtn{
    padding: 5px 15px;
    color:saddlebrown;
    font-size: 20px;
    background: transparent;
    border: 2px solid #fcc300;
    cursor: pointer;
    border-radius: 5px;
}

.myBtn:hover{
    background-color: #fcc300;
    color:aliceblue;
    transition:  200ms ease-out 100ms;
}